In [26]:
# Import the required libraries and dependencies
import os
import requests
import questionary
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import random
from MCForecastTools import MCSimulation

%matplotlib inline

In [27]:
ticker_list_file = open('Resources/stock_universe.json')
ticker_list = json.load(ticker_list_file)

In [28]:
# Load the environment variables from the .env file
#by calling the load_dotenv function
load_dotenv()

True

In [29]:
# Set the variables for the Alpaca API and secret keys
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca tradeapi.REST object
alpaca = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version="v2")

In [17]:
# Set the tickers using user-selected stocks
#stocks_selected = questionary.checkbox("Which stocks would you like to purchase?", choices=ticker_list, validate=lambda a: (
          #      True if len(a) <= 3 and len(a)>0 else "You must select between one and three stocks from the list"
           #)).ask()
#max_years = questionary.text("What is the maximum number of years you are willing to hold the stocks? Answer must be an integer.", validate=lambda a: (
        #True if type(a)==int else "Answer must be an integer"
        #  )).ask()
#amount_invested = questionary.text("How much money would you like to invest? Answer must be an integer.", validate=lambda a: (True if type(a)==int else
        # "Answer must be an integer"
        #  )).ask()
        
#input function

In [25]:
#Set the tickers to three random stocks (for now) and random max number of years
stocks_selected = random.sample(ticker_list, 3)
max_years = [item for item in range(1,random.randrange(1,30))]
amount_invested = random.randrange(10000, 100000)

# Set timeframe to 1Day
timeframe = "1Day"

# Format current date as ISO format
# Set both the start and end date at the date of your prior weekday 
# This will give you the closing price of the previous trading day
# Alternatively you can use a start and end date of 2020-08-07
start_date = pd.Timestamp("2017-08-07", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-08-07", tz="America/New_York").isoformat()

In [30]:
# Use the Alpaca get_bars function to get current closing prices the portfolio
# Be sure to set the `df` property after the function to format the response object as a DataFrame
stocks_df = alpaca.get_bars(
    stocks_selected,
    timeframe,
    start=start_date,
    end=end_date
).df
stocks_df.head()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2017-08-07 04:00:00+00:00,59.00,59.1214,58.67,58.91,598256,5282,58.860697,AJG
2017-08-08 04:00:00+00:00,58.78,58.9700,58.68,58.81,533651,5117,58.804521,AJG
2017-08-09 04:00:00+00:00,58.72,59.0400,58.72,58.90,430894,4151,58.876255,AJG
2017-08-10 04:00:00+00:00,58.65,58.9700,58.43,58.61,924251,5169,58.614808,AJG
2017-08-11 04:00:00+00:00,58.63,58.9800,58.35,58.42,546243,4489,58.516021,AJG

In [31]:
# Reorganize the DataFrame
# Separate ticker data
stock_1 = stocks_df[stocks_df['symbol']==stocks_selected[0]].drop('symbol', axis=1)
stock_2 = stocks_df[stocks_df['symbol']==stocks_selected[1]].drop('symbol', axis=1)
stock_3 = stocks_df[stocks_df['symbol']==stocks_selected[2]].drop('symbol', axis=1)

# Concatenate the ticker DataFrames
stocks_df = pd.concat([stock_1, stock_2, stock_3], axis=1, keys=stocks_selected)

# Review the first 5 rows of the Alpaca DataFrame
stocks_df.head()

                             AJG                                             \
                            open     high    low  close  volume trade_count
timestamp
2017-08-07 04:00:00+00:00  59.00  59.1214  58.67  58.91  598256        5282
2017-08-08 04:00:00+00:00  58.78  58.9700  58.68  58.81  533651        5117
2017-08-09 04:00:00+00:00  58.72  59.0400  58.72  58.90  430894        4151
2017-08-10 04:00:00+00:00  58.65  58.9700  58.43  58.61  924251        5169
2017-08-11 04:00:00+00:00  58.63  58.9800  58.35  58.42  546243        4489

                                       ATVI                ...           \
                                vwap   open   high    low  ...   volume
timestamp                                                  ...
2017-08-07 04:00:00+00:00  58.860697  62.14  62.85  61.80  ...  7287233
2017-08-08 04:00:00+00:00  58.804521  62.31  62.52  61.15  ...  8668466
2017-08-09 04:00:00+00:00  58.876255  60.63  61.57  60.35  ...  6023183
2017-08-10 04:00:00+00:00  58.614808  60.84  61.25  60.10  ...  6912927
2017-08-11 04:00:00+00:00  58.516021  60.26  61.08  59.77  ...  5571259

                                                     WAT                    \
                          trade_count       vwap    open    high       low
timestamp
2017-08-07 04:00:00+00:00       54205  62.449384  177.88  178.42  176.7225
2017-08-08 04:00:00+00:00       61336  61.815776  177.38  179.74  176.4900
2017-08-09 04:00:00+00:00       49034  61.197619  176.58  176.91  175.2950
2017-08-10 04:00:00+00:00       52208  60.566575  176.10  177.85  175.1700
2017-08-11 04:00:00+00:00       43556  60.604842  176.33  178.02  175.0700


                            close  volume trade_count        vwap
timestamp
2017-08-07 04:00:00+00:00  177.95  405172        4494  177.748443
2017-08-08 04:00:00+00:00  176.64  376732        4544  177.691056
2017-08-09 04:00:00+00:00  176.70  500776        5383  176.374680
2017-08-10 04:00:00+00:00  175.66  662533        7294  176.063288
2017-08-11 04:00:00+00:00  177.03  414729        4776  176.967154

[5 rows x 21 columns]

In [32]:
#Initialize two variables to track the best year and best median based on MC Simulations
best_median = 0
list_medians = []
best_year = 0

In [33]:
for year in max_years:
    MC = MCSimulation(
        portfolio_data = stocks_df,
        weights = [1/3, 1/3, 1/3],
        num_simulation=500,
        num_trading_days = 252*year
        )
    MC.calc_cumulative_return()
    statistics = MC.summarize_cumulative_return()
    median = statistics[5]
    list_medians.append(median)
    if median > best_median:
        best_median = median
        best_year = year
    #add in volatility tracking of some kind

Running Monte Carlo simulation number 0.
Running Monte Carlo simulation number 10.
Running Monte Carlo simulation number 20.
Running Monte Carlo simulation number 30.
Running Monte Carlo simulation number 40.
Running Monte Carlo simulation number 50.
Running Monte Carlo simulation number 60.
Running Monte Carlo simulation number 70.
Running Monte Carlo simulation number 80.
Running Monte Carlo simulation number 90.

In [34]:
print(f"Based on our analysis, we recommend holding your stocks for"
      f" {best_year} years.")

Based on our analysis, we recommend holding your stocks for 1 years.

In [35]:
list_medians

[1.1702907678740293]